.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 4px;
    object-fit: cover;
}

.cart-item button {
    background-color: #ff6666;
}

.cart-item button:hover {
    background-color: #ff4d4d;
}

.cart-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-quantity input {
    width: 100px;
    text-align: center;
    margin: 0 5px;
}

#cart-total {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

#checkout-form {
    max-width: 600px;
    margin: 0 auto;
}

.tour_name_span {
    width: 150px;
    height: 20px;
}

/* Адаптив для планшетов */
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        margin-top: 280px;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item img {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }

    .cart-quantity {
        margin-bottom: 10px;
    }

    #cart-total {
        font-size: 1em;
    }

    #checkout-form {
        padding: 20px;
    }
}

/* Адаптив для телефонов */
@media (max-width: 480px) {
    .modal-content {
        width: 95%;
        padding: 10px;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item img {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
    }

    .cart-quantity {
        margin-bottom: 10px;
    }

    #cart-total {
        font-size: 0.9em;
    }

    #checkout-form {
        padding: 10px;
    }
}
